.home{
    background-image:url("../assets/backgrounds/h_img.jpg");
    background-size:100%;
    background-repeat: no-repeat;

}
.logo{
    text-align:center;
    color:whitesmoke;
    margin:20px;
    padding-top: 18%;

}
.img{
    text-align:center;
    padding-top:15%;

}
h2{
text-align:center;
padding-top:4%;
}
p{
    text-align:center;
}