.home{
    background-image:url("../assets/backgrounds/h_img.jpg");
    background-size:100%;
    background-repeat: no-repeat;

}
.logo{
    text-align:center;
    color:whitesmoke;
    margin:20px;
    padding-top: 18%;

}
.img{
    text-align:center;
    padding-top:15%;

}
h2{
text-align:center;
padding-top:4%;
}
h3{
    text-align:center;
}
p{
    text-align:center;
}
#img2{
    background-image:url("../assets/backgrounds/s_image.jpg");
    background-size:100%;
    padding-top:12%;
}